@font-face {
  font-family: 'Stetica';
  src: url(../fonts/AASteticaBold.otf);
  font-weight: 700;
}

@font-face {
  font-family: 'Stetica';
  src: url(../fonts/AASteticaMedium.otf);
  font-weight: 500;
}

@font-face {
  font-family: 'Stetica';
  src: url(../fonts/AASteticaRegular.otf);
  font-weight: 400;
}