body, html {
  background-color: #BEBAC0;
  font-family: 'SuisseIntl', Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

p {
  font-size: 22px;
}

a {
  color: black;
  transition: 0.5s ease;
  font-weight: 400;
  font-size: 22px;
}

header {
  height: 25.26vw;
  position: fixed;
}

.index-pic {
  margin-top: 2vw;
  margin-left: 5vw;
}

.nav-item:hover{
  letter-spacing: 1.5px;
}

.current-page {
  font-weight: 700;
}

nav {
  margin-top: 5.78vw;
  margin-left: 5vw;
  height: 20vw;
}

.nav-item {
  margin-bottom: 23px;
}

main {
  margin-top: 4.74vw;
  margin-left: 40vw;
}

h1 {
  font-size: 42px;
  font-weight: 700;
}

h2 {
  font-size: 22px;
  font-weight: 500;
}

hr {
  background-color: black;
  border: none;
  height: 1px;
  width: 52vw;
  margin-left: 0;
}

.section-1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 1vw;
}

.poster-blocks {
  width: 52vw;
  display: flex;
  justify-content: space-between;
  margin-top: 3.125vw;
}

.poster-info-block {
  display: flex;
  justify-content: space-between;
  margin-top: 1vw;
  font-size: 22px;
}

.index-poster {
  height: 21.875vw;
}

.section-2, .section-3, .section-4, .section-5, .section-6 {
  margin-top: 2.8vw;
}

ol {
  list-style-type: decimal;
  margin-left: 1.2vw;
  margin-top: 1vw;
}

ul {
  list-style-type: disc;
  margin-left: 1.2vw;
  margin-top: 1vw;
}

li {
  font-size: 22px;
  margin-bottom: 5px;
}

.section-3 {
  height: 16vw;
}

.section-3 > p {
  margin-top: 1vw;
}

.section-5 {
  height: 29vw;
}

.section-5 p:first-of-type {
  margin-top: 1vw;
}

.section-5 p:nth-of-type(2n){
  margin-top: 0.4vw;
}

.section-6 {
  height: 6vw;
}

.go-up-btn {
  border: none;
  background: transparent;
  font-family: 'SuisseIntl', Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-weight: 500;
  opacity: 0.7;
  transition: 0.5s ease;
}

.go-up-btn:hover {
  opacity: 1;
}