body, html {
  background-color: #BEBAC0;
  font-family: 'SuisseIntl', Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

p {
  font-size: 22px;
}

a {
  color: black;
  transition: 0.5s ease;
  font-weight: 400;
  font-size: 22px;
}

header {
  height: 25.26vw;
  position: fixed;
}

.index-pic {
  width: 100px;
  height: 100px;
  margin-left: 5vw;
}

.index-pic:hover{
  scale: 0.9;
}

.nav-item:hover{
  letter-spacing: 1.5px;
}

.current-page {
  font-weight: 700;
}

nav {
  margin-top: 5.78vw;
  margin-left: 5vw;
  height: 20vw;
}

.nav-item {
  margin-bottom: 23px;
}

main {
  margin-top: 4.74vw;
  margin-left: 40vw;
}

h1 {
  font-size: 42px;
  font-weight: 700;
}

h2 {
  font-size: 22px;
  font-weight: 500;
}

hr {
  background-color: black;
  border: none;
  height: 1px;
  width: 52vw;
  margin-left: 0;
}

.section-1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 1vw;
}

.poster-blocks {
  width: 52vw;
  display: flex;
  justify-content: space-between;
  margin-top: 3.125vw;
}

.poster-info-block {
  display: flex;
  justify-content: space-between;
  margin-top: 1vw;
  font-size: 22px;
}

.index-poster {
  height: 21.875vw;
}

.section-2, .section-3, .section-4, .section-5, .section-6 {
  margin-top: 2.8vw;
}

ol {
  list-style-type: decimal;
  margin-left: 1.2vw;
  margin-top: 1vw;
}

ul {
  list-style-type: disc;
  margin-left: 1.2vw;
  margin-top: 1vw;
}

li {
  font-size: 22px;
  margin-bottom: 5px;
}

.section-3 {
  height: 16vw;
}

.section-3 > p {
  margin-top: 1vw;
}

.section-5 {
  height: 29vw;
}

.section-5 p:first-of-type {
  margin-top: 1vw;
}

.section-5 p:nth-of-type(2n){
  margin-top: 0.4vw;
}

.section-6 {
  height: 6vw;
}

.go-up-btn {
  border: none;
  background: transparent;
  font-family: 'SuisseIntl', Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-weight: 500;
  opacity: 0.7;
  transition: 0.5s ease;
}

.go-up-btn:hover {
  opacity: 1;
}

.check-button, .send-button {
  width: 13.4vw;
  height: 2vw;
  border: none;
  border-radius: 20px;
  background-color: #171717;
  color: white;
  font-family: 'SuisseIntl', Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-weight: 400;
  margin-top: 1vw;
}

img {
  transition: 0.5s ease;
}

.index-poster:hover {
  scale: 1.05;
}

.check-button:hover, .send-button:hover {
  cursor: pointer;
  background-color: #303030;
}

label, input {
  font-family: 'SuisseIntl', Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-weight: 400;
}

input {
  background-color: #BEBAC0;
  border: 1px solid black;
  border-radius: 20px;
  padding-left: 20px;
  width: 13.4vw;
  height: 2vw;
}

#task-form {
  margin-top: 6.8vw;
}

#task-form p {
  margin-bottom: 10px;
}

.form-str {
  display: flex;
  width: 35.2vw;
  justify-content: space-between;
  margin-bottom: 20px;
}

textarea {
  width: 33vw;
  height: 6vw;
  background-color: #BEBAC0;
  border: 1px solid black;
  border-radius: 20px;
  padding: 20px;
  font-family: 'SuisseIntl', Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-weight: 400;
}

table {
  width: 55vw;
  height: 570px;
  border: 1px solid black;
  border-collapse: collapse;
  background-image: url(../img/table_bg.svg);
  background-size: 100%;
  background-position: 0 10%;
  background-repeat: no-repeat;
  margin-left: -10%;
}

th {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}

tbody td {
  width: 300px;
  height: 450px;
  border: 1px solid black;
  padding: 10px;
  text-align: center;
  font-weight: 700;
}

.table-td-1 {
  background-image: url(../img/poster_4.png);
  background-repeat: no-repeat;
  background-position: 50%;
}

.table-td-2 {
  background-image: url(../img/poster_5.jpg);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 76%;
}

.table-td-3 {
  background-image: url(../img/poster_6.png);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 70%;
}

tfoot td {
  padding: 30px;
  background-color: #B28DC4;
}

tfoot td:hover {
  background-color: #c8a6d8;
}

td a {
  margin-left: 41%;
}

input[type='radio'] {
  width: 30px;
  accent-color: #B28DC4;
}

input[type='checkbox'] {
  width: 30px;
  accent-color: #B28DC4;
}

legend {
  font-size: 22px;
  margin-bottom: 15px;
}

label {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.passport-sec {
  position: relative;
  overflow: hidden;
}

.passpic {
  position: absolute;
  width: 8vw;
  margin-left: -26.4vw;
  margin-top: 24vw;
}

.passport-info p {
  position: absolute;
}

.passport-info p:nth-child(1){
  margin-top: -17vw;
  margin-left: 13vw;
}

.passport-info p:nth-child(2){
  margin-top: -14.1vw;
  margin-left: 13vw;
}

.passport-info p:nth-child(3){
  margin-top: -10vw;
  margin-left: 13vw;
}

.translate-btn {
  font-size: 22px;
  border: none;
  color: white;
  background-color: #303030;
  padding: 10px 20px;
  border-radius: 50px;
  transition: 0.4s ease;
  margin-top: 1vw;
}

.translate-btn:hover{
  background-color: #171717;
  cursor: pointer;
}

.translate-btn:active{
  background-color: black;
}

.devtoolsinfo {
  margin-top: 5vw;
  margin-bottom: 5vw;
}

.sessions-list {
  margin-left: -4.5vw;
}

ol ul {
  margin-top: 0;
}

input[type="text"][value="Кубрик"] {
  color: #303030;
}

.blank-picture{
  margin-left: 18%;
}