/* .index-pic {
  width: 100rem;
  height: 100rem;
  left: 100rem;
  top: 100rem;
  position: absolute;
}

.index-pic:hover{
  scale: 0.9;
} */

.section-1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 26rem;
}

.poster-blocks {
  width: 1014rem;
  display: flex;
  justify-content: space-between;
  margin-top: 60rem;
}

.poster-info-block {
  display: flex;
  justify-content: space-between;
  margin-top: 1vw;
  font-size: 22rem;
}

.index-poster {
  height: 21.875vw;
}

.section-2, .section-3, .section-4, .section-5, .section-6 {
  margin-top: 60rem;
}

ol {
  list-style-type: decimal;
  margin-left: 1.2vw;
  margin-top: 1vw;
}

ul {
  list-style-type: disc;
  margin-left: 1.2vw;
  margin-top: 1vw;
}

li {
  font-size: 22rem;
  margin-bottom: 5rem;
}

.section-3 {
  height: 16vw;
}

.section-3 > p {
  margin-top: 1vw;
}

.section-5 {
  height: 500rem;
}

.section-5 p:first-of-type {
  margin-top: 1vw;
}

.section-5 p:nth-of-type(2n){
  margin-top: 0.4vw;
}

.section-6 {
  height: 200rem;
}

.go-up-btn {
  border: none;
  background: transparent;
  font-family: 'Stetica';
  font-size: 22rem;
  font-weight: 500;
  opacity: 0.7;
  transition: 0.5s ease;
  margin-bottom: 200rem;
}

.go-up-btn:hover {
  opacity: 1;
}

.check-button, .send-button {
  width: 13.4vw;
  height: 2vw;
  border: none;
  border-radius: 20rem;
  background-color: #171717;
  color: white;
  font-family: 'Stetica';
  font-size: 22rem;
  font-weight: 400;
  margin-top: 1vw;
}

img {
  transition: 0.5s ease;
}

.index-poster:hover {
  scale: 1.05;
}

.check-button:hover, .send-button:hover {
  cursor: pointer;
  background-color: #303030;
}

label, input {
  font-family: 'Stetica';
  font-size: 22rem;
  font-weight: 400;
}

input {
  background-color: #BEBAC0;
  border: 1rem solid black;
  border-radius: 20rem;
  padding-left: 20rem;
  width: 300rem;
  height: 2vw;
}

#task-form {
  margin-top: 6.8vw;
}

#task-form p {
  margin-bottom: 10rem;
}

.form-str {
  display: flex;
  width: 35.2vw;
  justify-content: space-between;
  margin-bottom: 20rem;
}

textarea {
  width: 33vw;
  height: 6vw;
  background-color: #BEBAC0;
  border: 1rem solid black;
  border-radius: 20rem;
  padding: 20rem;
  font-family: 'Stetica';
  font-size: 22rem;
  font-weight: 400;
}

table {
  width: 55vw;
  height: 570rem;
  border: 1rem solid black;
  border-collapse: collapse;
  background-image: url(../img/table_bg.svg);
  background-size: 100%;
  background-position: 0 10%;
  background-repeat: no-repeat;
  margin-top: 20rem;
}

th {
  border: 1rem solid black;
  padding: 10rem;
  text-align: center;
  font-size: 22rem;
}

tbody td {
  width: 300rem;
  height: 545rem;
  border: 1rem solid black;
  padding: 10rem;
  text-align: center;
  font-weight: 700;
  font-size: 22rem;
}

.table-td-1 {
  background-image: url(../img/poster_4.png);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 65%;
}

.table-td-2 {
  background-image: url(../img/poster_5.jpg);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 76%;
}

.table-td-3 {
  background-image: url(../img/poster_6.png);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 70%;
}

tfoot td {
  padding: 30rem;
  background-color: #B28DC4;
}

tfoot td:hover {
  background-color: #c8a6d8;
}

td a {
  margin-left: 41%;
}

input[type='radio'] {
  width: 30rem;
  accent-color: #B28DC4;
}

input[type='checkbox'] {
  width: 30rem;
  accent-color: #B28DC4;
}

legend {
  font-size: 22rem;
  margin-bottom: 15rem;
}

label {
  display: flex;
  align-items: center;
  margin-bottom: 15rem;
}

.passport-sec {
  position: relative;
  overflow: hidden;
}

.passpic {
  position: absolute;
  width: 8vw;
  margin-left: -26.4vw;
  margin-top: 24vw;
}

.passport-info p {
  position: absolute;
}

.passport-info p:nth-child(1){
  margin-top: -17vw;
  margin-left: 13vw;
}

.passport-info p:nth-child(2){
  margin-top: -14.1vw;
  margin-left: 13vw;
}

.passport-info p:nth-child(3){
  margin-top: -10vw;
  margin-left: 13vw;
}

.translate-btn {
  font-size: 22rem;
  border: none;
  color: white;
  background-color: #303030;
  padding: 10rem 20rem;
  border-radius: 50rem;
  transition: 0.4s ease;
  margin-top: 1vw;
}

.translate-btn:hover{
  background-color: #171717;
  cursor: pointer;
}

.translate-btn:active{
  background-color: black;
}

.devtoolsinfo {
  margin-top: 5vw;
  margin-bottom: 5vw;
}

.sessions-list {
  margin-left: -4.5vw;
}

ol ul {
  margin-top: 0;
}

input {
  color: #303030;
}

.blank-picture{
  margin-left: 18%;
}

.tickets-form {
  margin-top: 2vw;
}

.movie-title, .movie-year, .movie-director, .ticket-price, .card-text, .ticket-amount {
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.movies-list {
  display: flex;
  flex-wrap: wrap;
}

.movie-card {
  flex-basis: 30%;
  width: 400rem;
}

.movie-card-img {
  height: 450rem;
}

.tickets-form {
  margin-bottom: 200rem;
}
